body {
    margin: auto;
}

.main-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 185, 221);
    height: 80px;
    border-radius: 0 20px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: rgb(172, 194, 247);
}

th, td {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.open-button {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.close-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.modal {
    margin-top: 50px;
    padding: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.form-group input, .form-group select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button, .cancel-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.RemoveButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4px;
    font-weight: bold;
}

.ToggleButton {
    padding: 0.5rem 1rem;
    margin-left: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.RemoveButton:hover {
    background-color: red;
}